{% extends 'myapp/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="zalogo">
    <h1>О нас</h1>
</div>
<div class="containers">
    <div class="context">
        <div class="text">
            <p>В 2000 году мы основали интернет магазин и назвали его «Furniture». Название было выбрано не случайно в него заложили основы, по которым компания работает и по сей день.
                <br><br> За длительный период существования, компания накопила большой опыт в продаже добротной мебели. Изначально основным продуктом продажи были корпусная и кухонная мебель.
                <br><br> Начиная с 2002 года, компания претерпела большие перемены. Было полностью модернизировано оборудование. Проводятся мероприятия по автоматизации продажи, решаются вопросы улучшения качества продажи и мебели.</p>
        </div>
        <div class="text">
            <p>И сегодня мы являемся динамично развивающейся компанией, выпускающим постоянно расширяемый ассортимент всех видов корпусной мебели, и увеличиваем линейку цветов и фурнитуры, которые используются в изготовлении нашей продукции. Контроль, осуществляемый на всех этапах цикла продажи, позволяет изготовлять продукцию, отвечающую высоким современным требованиям.
                <br><br> Отличное качество, безупречный дизайн и демократичные цены – вот что отличает нашу мебель. Высокий профессионализм работников фабрики позволяет изготавливать красивую и качественную мебель по невысокой стоимости и в самые короткие сроки.
                <br><br> Мы постоянно занимаемся расширением ассортимента корпусной мебели от производителя, которая создает уют и комфорт в вашем доме.</p>
        </div>
    </div>
    <div class="cart">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3770.96931551592!2d38.96932291618923!3d55.80657659787384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1745658030081!5m2!1sru!2sru" width="1440" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="history">
        <h2>История создания и развития</h2>
        <div class="story">
            <p>История создания нашего интернет-магазина началась задолго до 2021 года, однако именно этот период стал знаковым этапом в развитии бизнеса.</p>
        </div>
        <div class="story">
            <p>Мы понимали, что наши клиенты хотят получать качественные товары быстро и удобно. Поэтому параллельно с обновлением функционала мы активно расширяли географию доставки нашей продукции.</p>
        </div>
        <div class="story">
            <p>Сначала в январе 2021 года наша мебель начала доставляться в города Ярославской области и Калужскую область. Это позволило жителям центральных регионов страны наслаждаться комфортом и уютом, предлагаемым нашими изделиями. Однако амбициозность команды не позволила остановиться на достигнутом. Осенью того же года мы сделали огромный шаг вперед, предложив доставку мебели по всей территории России.</p>
        </div>
        <div class="story">
            <p>Теперь мягкая и корпусная мебель от нашего бренда успешно путешествует по таким городам, как Тверь, Белгород, Брянск, Великий Новгород, Вологда, Йошкар-Ола, Кострома, Курск, Орел, Пенза, Самара, Саранск, Саратов, Тамбов, Тольятти, Ульяновск, Чебоксары, Череповец, Анапа, Геленджик, Туапсе, Екатеринбург, Новороссийск, Набережные Челны, Челябинск, Уфа, Ростов-на-Дону, Ижевск, Пермь, Волгоград, Краснодар, Сочи и многим другим регионам нашей огромной страны.</p>
        </div>
        <div class="story">
            <p>Сегодня ассортимент насчитывает свыше 35 тысяч различных моделей мебели, каждая из которых создана с заботой о комфорте покупателей. Наша цель — продолжать развиваться, предлагать инновационные решения и радовать наших клиентов удобством покупок и качеством товаров.</p>
        </div>
    </div>
</div>
{% endblock %}