{% extends "myapp/base.html" %}
{% block content %}
<div class="zalogo">
    <h1>Отзывы покупателей</h1>
</div>
{% if user.is_authenticated %}
<div class="buton">
    <button class="" style="height: 30px; width: 140px; margin-left: 100px;" onclick="location.href = '{% url 'reviews-create' %}'">Написать отзыв</button>
</div>
{% endif %}
<div class="row">
    <div class="alerts">
        {% if reviews %}
        {% for rev in reviews %}
        <div class="alert">
            <h3>{{ rev.author }}</h3>
            <p>{{rev.content}}</p>
        </div>
        {% endfor %}
    </div>

</div>
{% else %}
<p>Нет записей</p>
{% endif %}
{% endblock content %}