{% extends "myapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section" style="width: 500px; margin-left: 100px;">
    <form method="POST" class="forma">
        {% csrf_token %}
        <fieldset class="form-group">
            <div class="ozuv">
            <h2 class="border-bottom">Отзыв</h2></div>
            {{ form|crispy }}
        <button class="coxranit" type="submit" style="margin-top: 30px; width: 100px;">Сохранить</button>
        </fieldset>
    </form>
</div>
{% endblock content %}